* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #0a0a0a;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px red; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

html, body {
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
    text-shadow: 5px 2px 5px red;
    background-image: url("/assets/images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

::selection{
    background-color: red;
}

.header {
    box-shadow: 0px 3px 10px red;
    position: fixed;
    width: 100%;
    top: 0;
    background: #0a0a0a;
    z-index: 5;
}

.nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav h1,
.menu-nav{
    font-size: 1.5rem;
    flex: 1;
}

.nav h1{
    font-size: 2rem;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav a,
.nav h1{
    color: aliceblue;
    text-shadow: 5px 2px 5px red;
    text-decoration: none;
}

section {
    min-height: 110vh;
    padding-top:10vh;
    display: flex;
    /* box-shadow: 0px 0px 10px red; */
}

section h2 {
    font-size: 5rem;
}


.home h3 {
    text-align: justify;
    letter-spacing: 0.4rem;
    line-height: 2rem;
    width: 65%;
    position: absolute;
    top: 15%;
    right: 7.5%;
}

.contact {
    max-height: 20vh !important;

}

section div{
    clear: both;
    display: block;
}

.gap{
    height: 6rem;
    min-width: 100%;
}

.gap h2{
    font-size: 4rem;
}

.container-bg{
    position: absolute;
    margin-top: 6rem;
    margin-left: 2.5%;
    border-radius: 2%;
    min-width: 95%;
    min-height: 100%;
    animation: pulse 5s ease infinite;
}

.container{
    position: absolute;
    margin-top: 6rem;
    margin-left: 2.5%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background: url("/assets/images/cool-bg.png") no-repeat center !important;
    border-radius: 2%;
    box-shadow: 0px 0px 10px red, 0px 0px 40px red;
    min-width: 95%;
    max-width: 95%;
    min-height: 100%;
    max-height: 100%;
}

.home .container{
    margin-top: 0;
    min-height: 110%;
}

.home .container-bg{
    margin-top: 0;
    min-height: 110%;
}

.bubble {
    position: absolute;
    z-index: -2;
    transform: scale(1.3);
    transition: all 0.5s;
    border: 1px solid red;
    box-shadow: 1px 1px 5px red;
}

.hidden-menu {
    display: none;
}

.hidden-menu div{
    width: 25px;
    height: 2px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px red;
    margin: 5px; 
    transition: all 0.3s ease;
}



.hidden-menu-toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
    box-shadow: none;

}

.hidden-menu-toggle .line2{
    opacity: 0;
    
}

.hidden-menu-toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
    box-shadow: none;

}
.menu-nav-active {
    transform: translateX(0%) !important;
}

.menu-nav-active li{
    padding: 12px;
}

.welcome {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0a0a0a;
    align-items: center;
    justify-content: center;
    display: flex;
}

.w1{
    animation-delay: 3s;
    animation: fade 3s ease forwards;
}

.welcome h1{
    font-size: 7.5rem;
    color: aliceblue;
    border-bottom: solid red;
}

.my-picture{
    max-width: 20%;
    border-radius: 50%;
    border-bottom: solid red;
    position: absolute;
    top: 15%;
    left: 5%;
}

.my-photos{
    text-align: center;
    max-height: 20%;
    width: 100%;
    position: absolute;
    bottom: 17.5%;
    
}
.my-photos h4{
    margin-bottom: 2rem;
}

.my-photos img{
    border-radius: 5% ;
    box-shadow: 0px 0px 10px red;
    max-height: 15%;
    max-width: 15%;
    margin: 0.5rem;
}

.projects .container{
    display: flex;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card{
    width: 35vh;
    height: 40vh;
    border-radius: 5%;
    border: solid black;
    box-shadow: 5px 5px 5px black, 5px 5px 5px red;
    background: #0a0a0a;
    margin: auto;
    display: inline-block;
    align-self: center;
    padding: 2%;
}

.project-card .title{
    width: 100%;
    min-height: 1rem;
    text-align: center;
}

.project-card img{
    border-radius: 5%;
    border: solid #b30000;
    box-shadow: 0px 0px 5px red;
    max-width: 100%;
    max-height: 100%;
    margin-top: 5%;
    object-fit: contain;
}

.project-card .but{
    margin-top: 5%;
    text-align: center;
}

.but a{
    width: auto;
    height: auto;
    text-decoration: none;
    color: white;
    border: groove red;
    background: #0a0a0a;
    padding: 0.3rem;
}

.annotation{
    position: absolute;
    text-align: center;
    bottom: 2.5%;
    width: 80%;
    /* right: 45%; */
}

.annotation h3{
    display: inline;
}

.annotation a{
    text-decoration: none;
    font-size: 1.5rem;
    color: red;
}


@media screen and (max-width:1024px){
    .nav li {
        padding-right: 25px;
    }

    .home h3 {
        font-size: 0.9rem;
        letter-spacing: 0.2rem;
        line-height: 1.75rem;
        position: absolute;
        right: 5%;
    }

    .container{
        min-height: 95%;
    }

    .container-bg{
        min-height: 95%;
    }

    .project-card{
        width: 30%;
        height: auto;
    }

}
@media screen and (max-width:1024px) and (orientation: landscape){
    .my-photos{
        bottom: 1%;
    }
}

@media screen and (max-width:768px){   
    .home h3 {
        font-size: 0.6rem;
        letter-spacing: 0.1rem;
        line-height: 1.5rem;
    }
    .menu-nav {
        /* box-shadow: 0px 0px 20px red inset; */
        position: absolute;
        right: 0px;
        height: auto;
        top: 10vh;
        background-color: #0a0a0a;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .gap h2{
        font-size: 3.5rem;
    }

    .menu-nav li{
        padding: 12px;
    }

    .bubble{
        display: none;
    }

    .hidden-menu{
        display: block;
    }

    .my-photos{
        max-width: 20%;
        height: 70%;
        bottom: 20%;
        left: 2.5%;
    }
    .my-photos img{
        max-width: 100%;
        max-height: 90%;
        display: block;
    }
    .my-photos h4{
        font-size: .6rem;
        margin-left: 20%;
    }

    .projects .container{
        padding-bottom: 25%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .annotation{
        width: 100%;
    }

    .project-card{
        margin:0%;
        width:80%;
        height: 15vh;
        position: relative;
    }

    .project-card img{
        margin:0%;
        float: left;
    }
    .project-card .but{
        position: absolute;
        right: 5%;
        top: 50%;
        margin:0%;
    }
    .project-card .title{
        float: right;
        width: auto;
    }

    .but a{
        width: 20%;
        padding: 0.1rem;
        font-size: 50%;
    }

}

@media screen and (max-width:768px) and (orientation: landscape){
    .my-photos{
        /* bottom: 25%; */
        left: 8%;
        /* top:65%; */
    }

    .my-photos h4{
        display: none;
    }
}


@keyframes fade{
    0%{
        opacity: 1;
        transform: translateX(0%);
        pointer-events: all;
    }
    50%{
        opacity: 1;
        transform: translateX(0%);
        pointer-events: all;
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
        pointer-events: none;
    }
}

@keyframes appear{
    from{
        pointer-events: none;
        opacity: 0;
    }
    to{
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes pulse{
    0%{
        background-color: rgb(50, 0, 0);
    }
    50%{
        background-color: rgb(200, 0, 0);
    }
    100%{
        background-color: rgb(50, 0, 0);
    }
}